*{
    padding: 0;
    margin: 0;
}
.container{
    width: 1440px;
    height: 1200px;
    background-color: #F5F6FA;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

.sidebar{
    width: 240px;
    height: 1200px;
    display: flex;
    flex-direction: column;
    background-color:#FFFFFF;
}

.logo-container{
    font-size: 20px;
    font-weight:800;
    line-height: 27.28px;
    padding:20px 10px 30px 60px;
}
.logo-container span{
    margin-right: -5px;
}

#dash-text{
    color: #4880FF;
}

.elements{
    padding:20px 10px 20px 20px;   
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 8px;
}

.elements.active{
    background-color:  #4880FF;
}
.elements.active span{
    color: #FFFFFF;
}
.elements.active div{
    position: absolute;
    width: 10px;
    height: 60px;
    left: -5px;
    top: 490px;
    border-radius: 10px;
    background-color: #4880FF;
}

.elements img{
    width: 18px;
    height: 16px;
    padding-right: 20px;
}


.elements span{
    font-size: 14px;
    font-weight: 600;
    line-height: 19.1px;
    color: #202224;
}

.sidebar-divider{
    border: 0.6px solid #E0E0E0;
}

#pages-text{
    font-size: 12px;
    color:  #202224;
    line-height: 16.37px;
    opacity: 60%;
    letter-spacing: 0.26px;
    font-weight: bold;
    padding: 20px;
}


.topbar{
    width: 1201px;
    height: 70px;
    position: absolute;  
    top: 0px;  
    left: 240px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
}

#hamburder-icon{
    width: 24px;
    height: 25px;
    opacity: 89%;
    padding: 24px;   
}

.searchbar{
    display: flex;
    align-items: center;
    width: 388px;
    height: 38px;
    border-radius: 20px;
    border: 0.6px solid #D5D5D5;
    background-color:  #F5F6FA;
    margin: 10px;
}

.searchbar img{
    width: 15.01px;
    height: 15.01px;
    padding: 15px;
}

.searchbar span{
    font-size: 14px;
    font-weight: 400;
    line-height: 19.1px;
    opacity: 50%;
    margin-top: 4px;
}

#notification-icon{
    width: 29px;
    height: 30.5px;
    margin-left: 300px;
}
#flag-icon{
    width: 40px;
    height: 27px;
    margin-left: 20px ;
    margin-right: 10px;
}

#language-dropdown{
    border: none;
}

.profile-section{
    display: flex;
    align-items: center;
}

#profile-icon{
    width: 44px;
    height: 44px;
    margin-left: 10px;
    margin-right: 10px;
}

.name-section{
    font-size: 14px;
    font-weight: 700;
    line-height: 19.1px;
    color: #404040;
    margin-left: 20px;
    margin-right: 20px;
}


.arrow-section{
    width: 18px;
    height: 18px;
    border: 0.2px solid #5C5C5C;
    border-radius: 10px;

}
.arrow-section img{
    width: 6px;
    height: 4px;
    padding: 6px;
}


.pricing-text {
    width: 103px;
    height: 44px;
    position: absolute;
    top: 100px;
    left: 269px;
    font-family: 'Nunito Sans';
    font-size: 32px;
    font-weight: bold;
    line-height: 43.65px;
    letter-spacing: -0.11428570002317429px;
    text-align: left;
    color: #202224;
}

.pricing-card1{

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 848px;
    position: absolute;
    top: 175px;
    left: 269px;
    padding-top: 40px;
    background-color:#FFFFFF ;
    border-radius: 24px;

}

.card1-heading {
    font-size: 22px;
    font-weight: bold;
    
}

.monthly-charge-text{
    font-size: 16px;
    color: #212121;
}
.price-div{
    font-size: 46px;
    color:#4880FF;
    font-weight: bolder;
}

.pricing-card1 p ,.pricing-card2 p,
.pricing-card3 p 
 {
    margin: 10px 0; 
    padding: 0; 
}

.pricing-card2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 848px;
    position: absolute;
    top: 175px;
    left: 659px;
    padding-top: 40px;
    background-color:#FFFFFF ;
    border-radius: 24px;

}
.pricing-card3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 848px;
    position: absolute;
    top: 175px;
    left: 1049px;
    padding-top: 40px;
    background-color:#FFFFFF ;
    border-radius: 24px;

}
.divider {
    width: 80%;
    border-top: 1px solid #e0e0e0;
    margin: 20px 0; 
}

.deactivate{
    opacity: 40%;
}

.free-trial-text{
    font-family: 'Nunito Sans';
font-style: normal;
font-size: 16px;
line-height: 22px;
text-decoration-line: underline;

color: #212121;
font-weight: bold;
}

.get-started-button{
    border: 2px solid #4880FF;
    border-radius: 30px;
    box-sizing: border-box;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    color: #4880FF;
    padding: 10px 20px;
    background-color: #FFFFFF;
}
.get-started-button:hover{
    background-color: #4880FF;
    color: #FFFFFF;
}
 